:root[data-theme="light"] {
    --text: #101812;
    --background: #eff5f2;
    --primary: #365340;
    --secondary: #9ab7bc;
    --accent: #597388;
}

:root[data-theme="dark"] {
    --text: #e7efe9;
    --background: #171719;
    --primary: #acc9b5;
    --secondary: #436065;
    --accent: #7791a6;
}

:root {
    --nav-font-size: 20px;
    --header-font-size: 64px;
    --logo-font-size: 32px;
    --body-font-size: 18px;
    --navbar-height: 90px;
}

@media screen and (max-width: 1200px)  {
    :root {
        --nav-font-size: 18px;
        --header-font-size: 56px;
        --logo-font-size: 28px;
        --body-font-size: 16px;
        --navbar-height: calc(100vw * 3 / 40)
    }
}

/* Reset html and body margins to 0 */
html {
    scroll-behavior: smooth;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

main {
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 100%;
    height: 100vh;
}

/* About Me */
#about-me {
    background: url(assets/bridge.png);
    background-size: cover;

    align-self: stretch;
    z-index: 5;
}

/* Shadow Gradient */
.gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    
    padding: 0px;

    width: 100%;
    height: 100vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.1) 100%);
    background-blend-mode: multiply;

    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}

/* Content */
.margin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 90px 300px 0px 300px;

    flex-grow: 1;
    z-index: 2;
}

.vertical-content {
    flex-direction: column;
}

#hero-margin {
    gap: 150px;
}

#games-margin {
    gap: 20px;
}

/* Text */
.text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 20px;

    width: auto;
    height: auto;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}
/* About Me */
.heading {
    width: 360px;
    height: 77px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: var(--header-font-size);
    line-height: 77px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* text */
    color: var(--text);
}


/* Hey there! I’m Markus, a first-year studying Computer Science and Mathematics at UNSW. I love learning new things and tinkering around with projects. In my free time, you’ll either find me bouldering, building Gunpla, reading, or finding another hobby to sink my time into. Now with scrolling included! */
.text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: var(--body-font-size);
    line-height: 24px;
    /* or 133% */

    /* text */
    color: var(--text);
}


/* Profile Picture */
.picture-frame {
    position: relative;
    width: 400px;
    height: 400px;
}

/* Profile Background Fill */
.fill {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    border-radius: 50%;

    background: #FFFFFF;
}

/* Wumpus */
.wumpus {
    position: absolute;
    left: 10.38%;
    right: 10.38%;
    top: 10.25%;
    bottom: 10.25%;
    border-radius: 50%;
}


/* Circular Frame */
.frame-border {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(45deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);
    border-radius: 50%;
    transform: rotate(90deg);
}

/* Navigation Bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: var(--navbar-height);

    background: rgba(23, 23, 25, 0.8);
    border: 1px solid rgba(228, 234, 232, 0.2);

    z-index: 7;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 15px 35px;
    gap: 10px;

    width: auto;
    height: auto;
    
    order: 0;
}


/* Circles */
.logo-text {
    display: flex;
    align-items: flex-end;
    text-align: center;

    width: 101px;
    height: 44px;

    font-family: 'Bauhaus 93';
    font-style: normal;
    font-weight: 400;
    font-size: var(--logo-font-size);
    line-height: 47px;

    /* text */
    color: var(--text);
}

/* Nav Button */
a.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: none;
    padding: 0px;
    background-color: transparent;
    text-decoration: none;

    width: auto;
    height: 90px;
}

/* Nav Button - Hover */
a.nav-button:hover {
    padding: 29px 0px 31px;
    gap: 10px;
    margin: 0px;
    border: 0px;

    height: 30px;

    background: rgba(228, 234, 232, 0.05);
    box-shadow: inset 0px -10px 20px rgba(228, 234, 232, 0.25);
}


/* Button Border */
.border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 35px;

    width: auto;
    height: 24px;

    border-width: 0px 1px;
    border-style: solid;
    border-color: rgba(228, 234, 232, 0.2);
}


/* Button Text */
.border p {
    width: auto;
    height: 24px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: var(--nav-font-size);
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    color: var(--text);
}

/* Games */
#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 274px 0px;

    order: 3;
    align-self: stretch;
    z-index: 4;
}

/* Gradient Background */
.gradient-background {
    position: absolute;

    width: 100%;
    height: 300vh;
    top: 100vh;

    background: linear-gradient(180deg, #171719 0%, #383838 100%);

    z-index: -1;
}

/* Embed */
.embed {
    border-radius: 50%;
    transition: border-radius 300ms ease-out;
}

.embed:hover {
    border-radius: 12px;
    transition: border-radius 200ms ease-out;
}

.center {
    justify-content: center;
    align-items: center;
    width: auto;
}

#games-text {
    width: 500px;
}

/* Horizontal Carousel */
.carousel {
    display: flex;
    flex-direction: row;

    width: max-content;
    max-width: 909px;
    height: auto;

    padding: 15px 0px;
    gap: 50px;
    overflow: hidden;

    align-self: stretch;
}

.slider {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 50px;
    width: calc(360px * 5 + 442.94px + 250px);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-360px * 5 - 442.94px - 300px));
    }
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Game Card */
.game-card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 28px 30px;
    gap: 30px;

    width: max-content;
    height: max-content;

    background: linear-gradient(171.83deg, rgba(179, 194, 190, 0.2) 3.7%, rgba(132, 136, 156, 0.14) 61.53%, rgba(74, 82, 91, 0.14) 96.3%);
    backdrop-filter: blur(2px);
    
    border-style: solid;
    border-color: var(--accent);
    border-width: 0px;
    border-radius: 30px;
}

/* Game Image */
.game-image {
    position: relative;
    width: 278px;
    height: 278px;
    margin: 11px;

    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Circular Frame */
.game-image::after {
    content: "";
    position: absolute;
    left: -11px;
    top: -11px;

    height: 300px;
    width: 300px;

    background: linear-gradient(135deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);
    border-radius: 50%;
    z-index: -1;
}

/* Funky div stuff with the border means it's annoying to use <img> here */
.game-image#terraria {
    background-image: url(assets/terraria.jpg);
}

.game-image#ksp {
    background-image: url(assets/ksp.jpg);
}

.game-image#overcooked {
    background-image: url(assets/overcooked.jpg);
}

.game-image#celeste {
    background-image: url(assets/celeste.jpg);
    background-position: top;
}

.game-image#valorant {
    background-image: url(assets/valorant.jpg);
}

.game-image#frostpunk {
    background-image: url(assets/frostpunk.jpg);
}

/* GIF Hover effect */
.game-image#terraria:hover {
    background-image: url(assets/terraria.gif);
}

.game-image#ksp:hover {
    background-image: url(assets/ksp.gif);
}

.game-image#overcooked:hover {
    background-image: url(assets/overcooked.gif);
}

.game-image#celeste:hover {
    background-image: url(assets/celeste.gif);
}

.game-image#valorant:hover {
    background-image: url(assets/valorant.gif);
    background-size: 220%;
}

.game-image#frostpunk:hover {
    background-image: url(assets/frostpunk.gif);
}

/* Game Text Div */
.game-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    width: auto;
    height: auto;
}

/* Game Title */
.game-title {
    width: auto;
    height: auto;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;

    align-items: center;
    text-align: center;
    text-wrap: nowrap;

    color: var(--text);
}

/* Game Description */
.game-description {
    width: auto;
    height: auto;

    font-family: 'Gochi Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;

    align-items: flex-end;
    text-align: center;

    color: var(--text);
}
