/* Light theme variables */
:root[data-theme="light"] {
    --text: #101812;
    --background: #eff5f2;
    --primary: #365340;
    --secondary: #9ab7bc;
    --accent: #597388;
    --background-2: #adadad;
    --card-background: linear-gradient(-8.17deg, rgba(179, 194, 190, 0.6) 3.7%, rgba(132, 136, 156, 0.5) 61.53%, rgba(74, 82, 91, 0.5) 96.3%);
    --image-frame: linear-gradient(135deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);
    --nav-background: rgba(239, 245, 242, 0.4);
    --nav-border: rgba(16, 24, 18, 0.2);
    --nav-hover: rgba(16, 24, 18, 0.05);
    --nav-hover-shadow: rgba(16, 24, 18, 0.25);
}

/* Dark theme variables */
:root[data-theme="dark"] {
    --text: #e7efe9;
    --background: #171719;
    --primary: #acc9b5;
    --secondary: #436065;
    --accent: #7791a6;
    --background-2: #383838;
    --card-background: linear-gradient(171.83deg, rgba(179, 194, 190, 0.2) 3.7%, rgba(132, 136, 156, 0.14) 61.53%, rgba(74, 82, 91, 0.14) 96.3%);
    --image-frame: linear-gradient(135deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);
    --nav-background: rgba(23, 23, 25, 0.2);
    --nav-border: rgba(228, 234, 232, 0.2);
    --nav-hover: rgba(228, 234, 232, 0.05);
    --nav-hover-shadow: rgba(228, 234, 232, 0.15);
}

/* Font-size variables */
:root {
    --nav-font-size: 18px;
    --header-font-size: 64px;
    --logo-font-size: 32px;
    --body-font-size: 18px;
    --navbar-height: 90px;
}

@media screen and (max-width: 1200px)  {
    :root {
        --nav-font-size: 16px;
        --header-font-size: 56px;
        --logo-font-size: 28px;
        --body-font-size: 16px;
        --navbar-height: calc(100vw * 3 / 40);
    }
}

@media screen and (max-width: 900px) {
    :root {
        --navbar-height: 67.5px;
    }
}

/* Set universal text formatting */
* {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    color: var(--text);
    margin: 0px;
}

b {
    font-weight: 600;
}

/* Override default properties */
html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

main {
    position: relative;
}

h1, p {
    margin: 0px;
}

/* Section */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.section#links {
    height: auto;
}

/* Gradient Background */
.gradient-background {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, var(--background) 0%, var(--background-2) 100%);

    z-index: -2;
}

/* About Me */
#about-me {
    background: url(assets/bridge.png);
    background-size: cover;

    align-self: stretch;
    z-index: 5;
}

#fav-games {
    position: relative;
}

#fav-games::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0.2;
    background: url(assets/games.jpg);
    background-size: cover;
    background-position: 100%;
    align-self: stretch;
    z-index: 0;
}

/* Shadow Gradient */
.gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    
    padding: 0px;

    width: 100%;
    height: 100vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.1) 100%);
    background-blend-mode: multiply;

    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}

/* Content */
.margin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 90px 300px 0px 300px;

    flex-grow: 1;
    z-index: 2;
}

.vertical-content {
    flex-direction: column;
}

#hero-margin {
    gap: 150px;
}

#games-margin {
    gap: 20px;
}

/* Text Frame */
.text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 20px;
}

/* About Me */
.heading {
    width: 360px;
    height: 77px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: var(--header-font-size);
    line-height: 77px;

    /* identical to box height */
    display: flex;
    align-items: center;
}


/* Text */
.text {
    font-size: var(--body-font-size);
    line-height: 24px;
}

/* Hero Text */
#hero-text * {
    color: #e7efe9;
}

/* Profile Picture */
.picture-frame {
    position: relative;
    width: 400px;
    height: 400px;
}

/* Profile Background Fill */
.fill {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    border-radius: 50%;

    background: #FFFFFF;
}

/* Wumpus */
.wumpus {
    position: absolute;
    left: 10.38%;
    right: 10.38%;
    top: 10.25%;
    bottom: 10.25%;
    border-radius: 50%;
}


/* Circular Frame */
.frame-border {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(45deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);
    border-radius: 50%;
    transform: rotate(90deg);
}


/* Navigation Bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: var(--navbar-height);

    background-color: var(--nav-background);
    border-bottom: 1px solid var(--nav-border);
    backdrop-filter: blur(2px);

    z-index: 7;
}

/* Logo */
.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 15px 35px;
    gap: 10px;
    
    background-color: transparent;
    border: none;

    order: 0;
}


/* Circles */
.logo-text {
    display: flex;
    align-items: flex-end;
    text-align: center;

    width: 101px;
    height: 44px;

    font-family: 'Bauhaus 93';
    font-style: normal;
    font-weight: 400;
    font-size: var(--logo-font-size);
    line-height: 47px;
}

/* Nav Button */
a.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    
    border: none;
    padding: 0px;
    background-color: transparent;
    text-decoration: none;

    max-height: 90px;
    align-self: stretch;
}

/* Nav Button - Hover */
a.nav-button:hover {
    padding: 0px 0px 1px;
    gap: 10px;
    margin: 0px;
    border: 0px;

    max-height: 90px;
    align-self: stretch;

    background: var(--nav-hover);
    box-shadow: inset 0px -10px 20px var(--nav-hover-shadow);
}


/* Button Border */
.border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 35px;
    height: 24px;

    align-self: stretch;

    border-left: 1px solid var(--nav-border);
}


/* Button Text */
.border p {
    height: 24px;

    font-size: var(--nav-font-size);
    line-height: 24px;

    text-align: center;
}

/* Games */
#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 274px 0px;

    order: 3;
    align-self: stretch;
    z-index: 4;
}

/* Embed */
.embed {
    border-radius: 50%;
    transition: border-radius 300ms ease-out;
}

.embed:hover {
    border-radius: 12px;
    transition: border-radius 200ms ease-out;
}

.center {
    justify-content: center;
    align-items: center;
}

#games-text {
    width: 500px;
}

/* Horizontal Carousel */
.carousel {
    display: flex;
    flex-direction: row;

    width: max-content;
    max-width: 909px;

    padding: 15px 0px;
    gap: 50px;
    overflow: hidden;

    align-self: stretch;
}

.slider {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 50px;
    width: min-content;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-360px * 6 - 442.94px - 350px));
    }
}


/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Game Card */
.card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;

    width: max-content;
    height: max-content;

    background: var(--card-background);
    backdrop-filter: blur(2px);
    
    border-radius: 30px;
}

/* Game Image */
.image {
    position: relative;
    width: 278px;
    height: 278px;
    margin: 11px;

    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}


/* Circular Frame */
.image::before {
    content: "";
    position: absolute;
    left: -11px;
    top: -11px;

    height: 300px;
    width: 300px;

    background: var(--image-frame);
    border-radius: 50%;
    z-index: -1;
}


/* Funky div stuff with the border means it's annoying to use <img> here */
.image#terraria {
    background-image: url(assets/terraria.jpg);
}

.image#ksp {
    background-image: url(assets/ksp.jpg);
}

.image#overcooked {
    background-image: url(assets/overcooked.jpg);
}

.image#celeste {
    background-image: url(assets/celeste.jpg);
    background-position: top;
}

.image#valorant {
    background-image: url(assets/valorant.jpg);
}

.image#hsr {
    background-image: url(assets/hsr.jpg);
}

.image#frostpunk {
    background-image: url(assets/frostpunk.jpg);
}


/* GIF Hover effect */
.image:hover#terraria {
    background-image: url(assets/terraria.gif);
    background-position-x: 60%;
}

.image:hover#ksp {
    background-image: url(assets/ksp.gif);
}

.image:hover#overcooked {
    background-image: url(assets/overcooked.gif);
}

.image:hover#celeste {
    background-image: url(assets/celeste.gif);
}

.image:hover#valorant {
    background-image: url(assets/valorant.gif);
    background-size: 220%;
}

.image:hover#hsr {
    background-image: url(assets/hsr.gif);
}

.image:hover#frostpunk {
    background-image: url(assets/frostpunk.gif);
}


/* Game Text Div */
.game-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}


/* Game Title */
.game-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;

    align-items: center;
    text-align: center;
    text-wrap: nowrap;
}


/* Game Description */
.game-description {
    font-family: 'Gochi Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;

    align-items: flex-end;
    text-align: center;
}


/* Project Frame */
.project-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
    width: max-content;
    height: 483px;

    align-self: stretch;
}

.project-item {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 300px;
    height: 300px;
    
    transition: all 200ms ease-out;
}

.project-item *, .project-item::after, .project-item::before {
    transition: width 200ms ease-out, height 200ms ease-out, border-radius 200ms ease-out;
}

.project-item::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #B3C2BE 0%, #84889C 50%, #4A525B 100%);

    z-index: -1;
}

.project-item::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 278px;
    height: 278px;
    background: transparent;
}

.project-item img {
    position: absolute;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30%;
}

.project-item:hover {
    width: 320px;
    height: 320px;
}

.project-item:hover::before {
    border-radius: 50px;
}

.project-item:hover::after {
    background: rgba(50, 50, 50, 0.4);
    border-radius: 40px;
    width: 298px;
    height: 298px;
}

.project-item:hover img {
    width: 298px;
    height: 298px;
    border-radius: 40px;
    animation: 10s linear infinite image-sliding;
}

@keyframes image-sliding {
    0% {
        object-position: 30%;
    }
    50% {
        object-position: 60%
    }
    100% {
        object-position: 30%;
    }
}

/* Project Button Links */
.project-item a {
    display: none;

    width: min-content;
    height: min-content;

    min-width: 100px;
    min-height: 50px;

    background: linear-gradient(90deg, rgba(179, 194, 190, 0.65) 0%, rgba(132, 136, 156, 0.65) 50%, rgba(74, 82, 91, 0.65) 100%);
    backdrop-filter: blur(2px);
    
    border-radius: 25px;
    
    text-decoration: none;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    z-index: 2;
}

/* Show buttons on hover */
.project-item:hover a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.project-text {
    font-size: 16px;
    line-height: 24px;
}

.project-item:hover a:hover {
    font-weight: 600;
    background: linear-gradient(90deg, rgba(179, 194, 190, 1) 0%, rgba(132, 136, 156, 1) 50%, rgba(74, 82, 91, 1) 100%);
}

.links-margin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 150px 50px 150px;
    gap: 30px;
}

.link-icon {
    height: 75px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link-icon#github {
    background-image: url(assets/github.png);
    border-radius: 50%;
}

.link-icon#linkedin {
    background-image: url(assets/linkedin.png);
    border-radius: 7.25px;
}

.link-icon#mail {
    background-image: url(assets/mail.png);
    height: 60px;
    border-radius: 8px;
}

.link-icon:hover {
    background-color: rgba(18, 18, 35   , 0.3);
    background-blend-mode: multiply;
}